body {
  background-color: #f1dccb;
}

body {
  font-family: 'Poetsen One', sans-serif;
}

body {
  background-image: url('https://img.freepik.com/fotos-gratis/imagem-de-fundo-de-papel-de-parede-abstrato-bege_53876-102527.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

.textinicio {
  font-size: 30px;
  color: rgb(66, 66, 66);
}

.texttop {
  font-size: 35px;
  color: rgb(66, 66, 66);
}

.texttop2 {
  font-size: 35px;
  color: rgb(66, 66, 66);
}

.terminal {
  font-size: 35px;
  color: rgb(66, 66, 66);
}

.projetoterminal1 {
  font-size: 35px;
  color: rgb(66, 66, 66);
}

.textterminal1 {
  font-size: 40px;
  color: rgb(66, 66, 66);
}

.projetoterminal2 {
  font-size: 35px;
  color: rgb(66, 66, 66);
}

.textterminal2 {
  font-size: 40px;
  color: rgb(66, 66, 66);
}

.projetoterminal3 {
  font-size: 35px;
  color: rgb(66, 66, 66);
}

.textterminal3 {
  font-size: 40px;
  color: rgb(66, 66, 66);
}

.projetoterminal4 {
  font-size: 35px;
  color: #ffffff;
}

.textterminal4 {
  font-size: 40px;
  color: #ffffff;
}

.apps {
  font-size: 35px;
  color: #ffffff;
}

.projetosapps {
  font-size: 35px;
  color: #ffffff;
}

.projetosapps1 {
  font-size: 35px;
  color: #ffffff;
}

.textprojetosapps1 {
  font-size: 40px;
  color: rgb(66, 66, 66);
}

.projetosapps2 {
  font-size: 35px;
  color: rgb(66, 66, 66);
}

.textprojetosapps2 {
  font-size: 40px;
  color: rgb(66, 66, 66);
}

.projetosapps3 {
  font-size: 35px;
  color: rgb(66, 66, 66);
}

.textprojetosapps3 {
  font-size: 40px;
  color: rgb(66, 66, 66);
}

.projetosapps4 {
  font-size: 35px;
  color: rgb(66, 66, 66);
}

.textprojetosapps4 {
  font-size: 40px;
  color: rgb(66, 66, 66);
}

.projetosapps5 {
  font-size: 35px;
  text-align: center;
  color: rgb(66, 66, 66);
}

.textprojetosapps5 {
  font-size: 40px;
  color: rgb(66, 66, 66);
}

.final {
  font-size: 35px;
  color: rgb(66, 66, 66);
}

.textfinal {
  font-size: 40px;
  color: rgb(66, 66, 66);
}

.texttop {
  text-align: center;
}

.texttop2 {
  text-align: center;
}

.terminal {
  text-align: center;
}

.projetoterminal1 {
  text-align: center;
}

.projetoterminal2 {
  text-align: center;
}

.projetoterminal3 {
  text-align: center;
}

.projetoterminal4 {
  text-align: center;
}

.apps {
  text-align: center;
}

.projetosapps {
  text-align: center;
}

.projetosapps1 {
  text-align: center;
}

.projetosapps2 {
  text-align: center;
}

.projetosapps3 {
  text-align: center;
}

.projetosapps4 {
  text-align: center;
}

.final {
  text-align: center;
}

.textfinal {
  text-align: center;
}

.textterminal1 {
  text-align: center;
}

.textterminal2 {
  text-align: center;
}

.textterminal3 {
  text-align: center;
}

.textterminal4 {
  text-align: center;
}

.textprojetosapps1 {
  text-align: center;
}

.textprojetosapps2 {
  text-align: center;
}

.textprojetosapps3 {
  text-align: center;
}

.textprojetosapps4 {
  text-align: center;
}

.textprojetosapps5 {
  text-align: center;
}

.logo {
  top: -330px;
  left: -200px;
  margin: 0;
  border-radius: 50%;
  border: 5px solid rgb(0, 0, 0);
  width: 100px;
  height: 100px;
}

.botaoteste:hover {
  background-color: rgb(63, 63, 63);
  border: 2px solid rgb(63, 63, 63);
  transition: 1.7s;
  scale: 1.2;
  transform: rotate(90deg);
  transition: 1.7s;
  transform: rotate(180deg);
  transition: 1.7s;
  transform: rotate(270deg);
  transition: 1.7s;
  transform: rotate(360deg);
}


.botaoteste2:hover {
  background-color: rgb(63, 63, 63);
  border: 2px solid rgb(63, 63, 63);
  transition: 1.7s;
  scale: 1.2;
  transform: rotate(90deg);
  transition: 1.7s;
  transform: rotate(180deg);
  transition: 1.7s;
  transform: rotate(270deg);
  transition: 1.7s;
  transform: rotate(360deg);
}

.botaosite3:hover {
  background-color: rgb(63, 63, 63);
  border: 2px solid rgb(63, 63, 63);
  transition: 1.7s;
  scale: 1.2;
  transform: rotate(90deg);
  transition: 1.7s;
  transform: rotate(180deg);
  transition: 1.7s;
  transform: rotate(270deg);
  transition: 1.7s;
  transform: rotate(360deg);
}

.botaosite4:hover {
  background-color: rgb(63, 63, 63);
  border: 2px solid rgb(63, 63, 63);
  transition: 1.7s;
  scale: 1.2;
  transform: rotate(90deg);
  transition: 1.7s;
  transform: rotate(180deg);
  transition: 1.7s;
  transform: rotate(270deg);
  transition: 1.7s;
  transform: rotate(360deg);
}

.botaosite5:hover {
  background-color: rgb(63, 63, 63);
  border: 2px solid rgb(63, 63, 63);
  transition: 1.7s;
  scale: 1.2;
  transform: rotate(90deg);
  transition: 1.7s;
  transform: rotate(180deg);
  transition: 1.7s;
  transform: rotate(270deg);
  transition: 1.7s;
  transform: rotate(360deg);
}

.logo:hover {
  background-color: rgb(63, 63, 63);
  border: 2px solid rgb(63, 63, 63);
  transition: 1.7s;
  scale: 1.2;
  transform: rotate(90deg);
  transition: 1.7s;
  transform: rotate(180deg);
  transition: 1.7s;
  transform: rotate(270deg);
  transition: 1.7s;
  transform: rotate(360deg);
}

.botaoteste {
  line-height: 1;
  margin: 0;
  height: 100px;
  width: 100px;
  border-radius: 30%;
  font-size: 20px;
  font-family: 'Poetsen One', sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
}

.botaoteste2 {
  line-height: 1;
  margin: 0;
  height: 100px;
  width: 100px;
  border-radius: 30%;
  font-size: 20px;
  font-family: 'Poetsen One', sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(114, 114, 114);
}

.botaosite3 {
  line-height: 1;
  margin: 0;
  height: 100px;
  width: 100px;
  border-radius: 30%;
  font-size: 20px;
  font-family: 'Poetsen One', sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
}

.botaosite4 {
  line-height: 1;
  margin: 0;
  height: 100px;
  width: 100px;
  border-radius: 30%;
  font-size: 20px;
  font-family: 'Poetsen One', sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
}

.botaosite5 {
  line-height: 1;
  margin: 0;
  height: 100px;
  width: 100px;
  border-radius: 30%;
  font-size: 20px;
  font-family: 'Poetsen One', sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
}

.linha-branca {
  height: 150px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  gap: 50px;
  align-items: center;
}